html, body {
	height: 100%;
}


.bg-main {
	background-image: url("images/background.jpg");
	/* Full height */
	height: 100%;
	overflow: hidden;

  /* Center and scale the image nicely */
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-second {
	background-color :#F5F5F5;
}

.spacing>li{
	margin: 30px;
}

.header {
	background: #F5F5F5;
	position: fixed;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 9;
	box-shadow: 0 5px 4px -1px rgba(0,0,0,.5);

}

.navbar-links li {
	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
}

.btn-style {
	background-color: white;
	color: black;
	border: 0px solid black;
}

.btn-style:hover {
	background-color: #cd8c95;
	border: 0px solid black;
}

.btn-style:active {
	background-color: #cd8c95;
	border: 0px solid black;
}

.custom-container {
	text-align: center;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.logo{
	padding: 0px;
}

.logo>img {
	height: 30%;
	width: 30%;
	-o-object-fit: contain;
  object-fit: contain;
}


.main-title {
	margin-top: 1.4em;
	font-family: Lobster;
	font-size: 200px;
	color: #F5F5F5;

}

.sub-title {
	font-family: Lobster;
	font-size: 40px;
	color: white;
}

.smaller {
	font-size: 70px;
}

.main-content {
	display: flex;
}

.about-header {
	font-size: 90px;
	font-weight: bold;
	font-family: Lobster;
}

.content-block {
	padding: 0.4em;
	margin: 1.2in;;
	text-align: left;
}

.content-block>p{
	margin-top: 40px;
	font-size: 24px;
}


.content-block>img {
	object-fit: contain;
	border: 0px solid #f0dfcd;
	border-radius: 30px;

}

.active {
	border-bottom: 2px solid #e74c3c;
}

#our-story {
	top: -55px;
	position:relative;
}

.contact-us-header {
	font-size: 150px;
	font-family: Lobster;
	text-align: center;
	padding-top: 0.8em;
	padding-left: 2.4em;
	color: white;
}


/* Searchbar Effects */
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

.search_input{
		color: white;
		border: 0;
		outline: 0;
		background: none;
		width: 0;
		caret-color:transparent;
		line-height: 40px;
		transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
		padding: 0 10px;
		width: 450px;
		caret-color:red;
		transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
		background: white;
		color: #e74c3c;
}

.search_icon{
		height: 40px;
		width: 40px;
		float: right;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color:white;
		text-decoration:none;
}

/* Social Media Button Styles */
.socials {
	margin-left: 17em;
	font-size: 30px;
}


.fa {
  padding: 25px;
  width: 80px;
	height: 80px;
  text-align: center;
  text-decoration: none;
  margin: 9px 2px;
  border-radius: 50%;
}

.fa:hover {
		color: white;
		text-decoration: none;
		border: 4px solid white;
		padding: 22px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
