@import "main.css";

body {
  background-color :#F5F5F5;
}

.all-card-decks {
  margin-top: 15%;
  margin-right: 5vw;
  margin-left: 5vw;
}

.card-deck-spacing {
  margin-bottom: 5%;
}

h5 {
  font-weight: bold;
}

.card-spacing {
  min-width: 300px;
  max-width: 400px;
  flex-basis: auto; /* default value */
  flex-grow: 1;
}
