@import "main.css";

body {
  background-color :#F5F5F5;
}

h1 {
  font-family: Garamond;
}

@media screen and (min-width: 961px){
  h1 {
    text-align: center;
    font-size: 90px;
    margin-top: 12%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 961px){
  h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 30%;
    margin-bottom: 0;
  }
}



.all-card-decks {
  margin-top: 3%;
  margin-right: 5vw;
  margin-left: 5vw;
}

.card-deck-spacing {
  margin-bottom: 5%;
}

h5 {
  font-weight: bold;
}


.card-spacing {
  min-width: 150px;
  max-width: 400px;
  box-shadow: 0 5px 4px -1px rgba(0,0,0,.5);
}
